.aksipemilih button{
	width:50%;
}
.headerpage{
  font-size: 18px;
  padding: 0px 10px;
}
.keluar{
	width:20px;
	text-align:right;
	font-size: 18px;
}
.hasil button{
	width:100%;
	border-radius:0px;
	padding: 12px 0px;
}
.aksihasil button{
	width:100%;
	border-radius:0px;
}
.judulhasil{
	width:100%;
	font-size: 14px;
	font-weight:600;
}
.h2{
	font-size: 14px;
	font-weight:600;
	margin:0px;
	padding:10px 5px;
}